// common

* {
  padding: 0;
  margin:  0;
}

html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

// mixin

@mixin gray_border {
  border-bottom: solid 1px #CCC;
}

// body

#container {
  width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
  @include gray_border;
}

// header

header {
  h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
  }

  ul {
    list-style: none;
    margin-top: 10px;
    border-top:    solid 1px #CCC;
    height: 40px;
  }

  li {
    float: right;
    margin-left: 10px;
    padding: 10px 10px;
    font-size: 16px;
    @include gray_border;
  }
}

article {
  margin: 10px 0 10px;
  @include gray_border;

  header {
    h2 {
      margin-bottom: 10px;
      display: inline;
    }

    time {
      margin-left: 5px;
      color: #999999;
    }
  }

  .content {
    margin: 10px;
    line-height: 1.5;
    font-size: 16px;
  }
}

footer {
  .copyright {
    text-align:center;
  }
}
