---
---

$main-color: #a3e9a4
$sub-color: #f8bbd0
$font-color: #37474f
$sub-font-color: #90a4ae
$code-block: #eceff1

@import header
@import main
@import footer

html
  height: 100%

body
  background: $main-color
  height: 100%
  color: $font-color

a
  color: $font-color
  text-decoration: none

  &:hover
    text-decoration: none

  &:visited
    text-decoration: none

pre
  margin: 0px
  white-space: pre-wrap

.highlight
  border-radius: 4px
  padding: 10px
  background-color: $code-block
