---
---

$main-color: #a3e9a4
$sub-color: #f8bbd0

$font-color: #37474f
$sub-font-color: #90a4ae

$code-block: #eceff1

$mobile: 600px

@import header
@import main
@import footer

body
  background: $main-color
  color: $font-color

  @media screen and (max-width: $mobile)
    font-size: 80%
    margin: 0px

a
  color: $font-color
  text-decoration: underline

  &:hover
    text-decoration: underline

  &:visited
    text-decoration: underline

pre
  margin: 0px
  white-space: pre-wrap

code
  word-wrap: break-word

.highlight
  border-radius: 4px
  padding: 10px
  background-color: $code-block
