#header
  min-height: 56px

  h1
    text-align: center

    a
      color: $font-color !important
      line-height: 56px
      text-decoration: none

  nav
    line-height: 56px

    ul
      text-align: center
      padding-left: 0px

      li
        display: inline
        letter-spacing: -.5px

        &:not(:first-child)
          margin-left: 20px

        i
          margin-right: 5px
