#header
  margin: 0 auto
  min-height: 56px
  max-width: 800px

  h1
    font-size: 1.5rem
    margin-bottom: 0px
    text-align: center

    img
      display: block
      margin: 0 auto
      border-radius: 50%

    a
      color: $font-color !important
      line-height: 56px
      text-decoration: none

  nav
    background-color: $font-color
    padding: 0.7rem
    border-radius: 10px

    @media screen and (max-width: $mobile)
      border-radius: 0px

    ul
      display: flex
      justify-content: space-around
      margin-top: 0px
      margin-bottom: 0px
      padding-left: 0px
      list-style: none

      li
        color: white
        font-weight: 600

        @media screen and (max-width: $mobile)
          font-size: 1rem

        &:not(:first-child)
          margin-left: 20px

        a
          color: white

        i
          margin-right: 5px

          @media screen and (max-width: $mobile)
            display: none
