#header
  margin: 0 auto
  min-height: 56px
  max-width: 800px

  @media screen and (max-width: $mobile)
    background-color: $font-color

  h1
    padding: .5rem
    font-size: 1.5rem
    margin-top: 0px
    margin-bottom: 0px
    text-align: center

    @media screen and (max-width: $mobile)
      padding-bottom: 0px

    img
      display: block
      margin: 0 auto
      border-radius: 50%

      @media screen and (max-width: $mobile)
        margin: 0 10px
        display: inline-block

    a
      color: $font-color !important
      line-height: 56px
      text-decoration: none

      @media screen and (max-width: $mobile)
        color: white !important
        display: flex
        align-items: center


  nav
    background-color: $font-color
    padding: 0.7rem
    border-radius: 10px

    @media screen and (max-width: $mobile)
      border-radius: 0px

    ul
      display: flex
      justify-content: space-around
      margin-top: 0px
      margin-bottom: 0px
      padding-left: 0px
      list-style: none

      li
        color: white
        font-weight: 600

        @media screen and (max-width: $mobile)
          font-size: 1rem

        &:not(:first-child)
          margin-left: 20px

        a
          color: white

        i
          margin-right: 5px

          @media screen and (max-width: $mobile)
            display: none
