.content
  padding: 1rem
  background-color: white
  margin: 0 auto
  max-width: 800px

  @media screen and (max-width: $mobile)
    padding: 0.5rem

  a
    color: $font-color !important
    text-decoration: none

  time
    color: $sub-font-color

  header
    h1, h2
      display: inline

    time
      display: inline-block
      min-width: 7rem
      margin-right: 10px

  section.articles
    article
      header
        display: flex
        flex-direction: row
        align-items: center
        padding: 1rem 0

        @media screen and (max-width: $mobile)
          align-items: baseline
          flex-direction: column

        h2
          margin: 0

      &:not(:last-child)
        border-bottom: 2px solid $sub-font-color

        &:hover
          border-color: $main-color
          transition: border-color 1.0s

  article.post, article.page
    header
      padding-bottom: 10px
      border-bottom: 1px solid $sub-font-color

      time
        margin-left: 1rem

    img
      width: 50%

      @media screen and (max-width: $mobile)
        width: 100%

    a
      text-decoration: underline

    section.social
      margin-top: 30px

    p
      line-height: 1.5rem

    // http://h2ham.net/youtube-responsive
    .youtube
      width: 100%
      position: relative
      padding-top: 56.25%

      iframe
        position: absolute
        top: 0
        right: 0
        width: 100% !important
        height: 100% !important
