.content
  border-top: 2px solid $sub-color
  border-bottom: 2px solid $sub-color
  background-color: white
  padding: 30px
  margin: 0 20px

  a
    color: $font-color !important

  time
    color: $sub-font-color

  header
    h1, h2
      display: inline

    time
      margin-left: 10px

  section.articles
    article
      &:not(:first-child)
        margin-top: 30px

  article.post
    header
      padding-bottom: 10px
      border-bottom: 1px solid $sub-font-color

    img
      width: 50%

      @media screen and (max-width: $mobile)
        width: 100%

    section.social
      margin-top: 30px
