.content
  border-top: 2px solid $sub-color
  border-bottom: 2px solid $sub-color
  background-color: white
  padding: 30px
  margin: 0 20px

  a
    color: $font-color !important

  time
    color: $sub-font-color

  section.articles
    article
      &:not(:first-child)
        margin-top: 30px

      header
        h2
          display: inline

        time
          margin-left: 10px
