---
pageable: true
per_page: 10
---

- page_articles.each do |article, i|
  %article
    %header
      %h2= link_to article.title, article
      %time= article.date.strftime('%Y-%m-%d (%a)')

    .content
      = article.summary
