%h1.page_title
  %img.icon{ src: image_path('icon.png')}
  HRYSD.ORG
.row-fluid
  .span12
    .span4.sns_link
      %h1 Hatena Blog
      %button.btn.btn-large.btn-block
        %a{href: 'http://hrysd.hatenablog.com'}
          Click!
    .span4.sns_link
      %h1 Twitter
      %button.btn.btn-large.btn-block
        %a{href: 'https://twitter.com/hrysd'}
          Click!
    .span4.sns_link
      %h1 Github
      %button.btn.btn-large.btn-block
        %a{href: 'https://github.com/hrysd'}
          Click!
