%h1.page_title
  %img.icon{ src: image_path('icon.png')}
  HRYSD.ORG
.row-fluid
  .span12
    .span4.sns_link
      %h1 Hatena Blog
      %a{href: 'http://hrysd.hatenablog.com'}
        %button.btn.btn-large.btn-block.btn-success
          Click!
    .span4.sns_link
      %h1 Twitter
      %a{href: 'https://twitter.com/hrysd'}
        %button.btn.btn-large.btn-block.btn-primary
          Click!
    .span4.sns_link
      %h1 Github
      %a{href: 'https://github.com/hrysd'}
        %button.btn.btn-large.btn-block.btn-inverse
          Click!
